.answers{
  padding-left:5%;
  margin-left:5%;
}
.solution{
  padding-left:5%;
  margin-left:5%;
}
button{

  border-style:solid;
  border-color:rgba(14, 156, 181, 0.05);
  border-width:5px;
  text-shadow: grey;
}
