<!-- Generalized Header class-->
  <section id="One" class="wrapper style3">
    <div class="inner">
      <header class="align-center">
        <p>These are our beautiful Fish:</p>
        <h2>Our Fish Selection</h2>
      </header>
    </div>
  </section>


<section id="one" class="wrapper style2">


<div class = "heading-container5">
  <h2>  </h2>
</div>
    <div class="inner">
      <div class="grid-style">
      <li *ngFor="let oneFish of fishes">
        <div>
          <div class="box">

            <div class="image fit">
              <img [src]="oneFish.images[0]" />
            </div>
            <div class="content">
              <header class="align-center">

                  <h2> {{ oneFish.commonname }} </h2>
                  <p>
                    Scientific Name: <i>{{ oneFish.sci_name }}</i>
                  </p>
              </header>
              <footer class="align-center">
                  <a [routerLink]="['/displayfish', oneFish._id]"> See Details </a>
              </footer>
            </div>
          </div>
        </div>
      </li>


    </div>
  </div>
  </section>




<!--
// commonname: 'Cuban cichlids',
// sci_name: 'Nandopsis tetracanthis',
// images:['http://z5.ifrm.com/5900/99/0/p1009542/1.jpg'],

-->
