<h2> Sign Up </h2>
<nav id="menu">
  <ul class="links">
    <li><a routerLink="/"> Home </a></li>
    <li><a routerLink="/fish"> Our Fish </a></li>
    <li *ngIf="!userInjectService.currentUser"><a  routerLink="/join">Be a member </a></li>
  </ul>
</nav>


<form (ngSubmit)="startSignupAjax()">
  <label for="fullname-input"> Full Name </label>
  <input  id="fullname-input" type="text" placeholder="Kevin James"
      [(ngModel)]="theUser.fullName" name="fullNameInput" />
  <br />

  <label for="username-input"> Username </label>
  <input  id="username-input" type="text" placeholder="e.g. Kev"
      [(ngModel)]="theUser.username" name="usernameInput" />
  <br />

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" placeholder="e.g. *****"
      [(ngModel)]="theUser.password" name="passwordInput" />
  <br />

  <button> Sign Up </button>
</form>
