<router-outlet></router-outlet>
<div class= "background-menu">
<header id="header" class="alt">
    <a href="#menu">Menu</a>
</header>
</div>

  <nav id="menu">
    <ul class="links">
      <li><a routerLink="/"> Home </a></li>
      <li><a routerLink="/fish"> Our Fish </a></li>
      <li *ngIf="!userInjectService.currentUser"><a  routerLink="/join">Be a member </a></li>
      <li *ngIf="!userInjectService.currentUser"><a  routerLink="/login">Already a member </a></li>
      <li *ngIf="userInjectService.currentUser"><a routerLink="/login">Logout</a></li>
    </ul>
  </nav>




<router-outlet></router-outlet>
