<!-- <header class="initial_header">

<div class ="container2_a1">
<div class = "container1_a1">
  <nav class="nav_a1">
        <a routerLink="/"> Home </a>
        <a routerLink="/fish"> Our Fish </a>
        <a *ngIf="!userInjectService.currentUser"
            routerLink="/join">
           Be a member
        </a>
        <button *ngIf="userInjectService.currentUser"
          (click)="startLogOutAjax()">
        Log Out
      </button>

  </nav>

  <p *ngIf="userInjectService.currentUser">
    Hello, <b>{{ userInjectService.currentUser.username }}</b>.
  </p>

</div>
</div>
</header> -->

<router-outlet></router-outlet>
