.detail_items{

  text-align:left;
  text-shadow: grey;
  margin-left:7%;

}
.caption1{

  font-weight: bold;
  font-display: block;
  color:black;
}


img {
  margin-top:5%;
  padding-top:5%;
  margin-left:15%;
  margin-bottom:5%;
  max-width: 85%;
}

body{
  background-color: grey;
}
.image .fit{
  margin-top:10px;
  display:flex;
  justify-content: center;
}
.align-center p{
  color:rgb(10, 13, 60);
}
.Special-p>p{
  color:white;
}

app-trivia{
  margin-top:20%;
  height:100%;
  margin-left:10%;
  width:50%;
}
.trivia-container{
  height:100%;
  margin-top:8%;
}
button{

  border-style:solid;
  border-color:rgba(14, 156, 181, 0.05);
  border-width:5px;
  text-shadow: grey;
}
