<div class = "contaier-2-color-image">
<div class = "color-image">
<section id="One" class="wrapper style3 color_image">
  <div class="inner">
    <header class="align-center">
      <div class ="Special-p"><p>Try the trivia question.</p></div>
      <h2>More info about the fish</h2>
    </header>
  </div>
</section>
</div>
</div>



<div class="inner">
  <div class="grid-style">

    <div>
      <div class="box">

        <div class="image fit">
           <img [src]="fishes.images" />
        </div>
        <div class="content">
          <header class="align-center">
            <ul class = "detail_items">
              <p> {{ fishes.commonname }} </p>
              <p> Scientific Name: <i>{{ fishes.sci_name }}</i></p>
              <p><span class="caption1"> Actual Size:</span>  {{ fishes.currentSize }} inches </p>
              <p><span class="caption1">(Approximate) Max Size:</span>{{ fishes.maxSize }} inches</p>
              <p><span class="caption1">Tempermant: </span> {{ fishes.tempermant }}</p>
              <p><span class="caption1">Water Preference:</span>  {{ fishes.waterpreference }}</p>
              <p><li *ngFor="let locationFish of fishes.locations">
                <span class="caption1">Naturally Found:</span>{{ locationFish.locations}}
              </li></p>
            </ul>

              <!-- <button *ngIf="userInjectService.currentUser.role===admin"                  (click)="startDeleteAjax()">Delete Fish Item</button> -->
              <div></div>

              <button [routerLink]="['/displayCommerce']">Buy Fish </button>
              <div></div>
              <a [routerLink]="['/fish']">Go back to list</a>
              <!-- <a [routerLink]="['/displayCommerce']">Go back to commerce</a> -->
          </header>
        </div>
      </div>
    </div>
  <div class="trivia-container">
    <div class = "box">
      <app-trivia class="trivia"></app-trivia>
    </div>
  </div>
<!--  currentSize: {
            type: Number,
            required: [true, 'Add information on fish.']
        },
        maxSize: {
            type: Number,
            required: [false, '']
        },
        tempermant: {
            type: String,
            required: [false, '']
        },
        waterpreference: {
            type: String,
            required: [false, '']
        },
        locations: [{
            type: String,
            required: [true, 'Where are these fish from?']
        }],


    }
-->


</div>
</div>
