<h2> Log In </h2>
<nav id="menu">
  <ul class="links">
    <li><a routerLink="/"> Home </a></li>
    <li><a routerLink="/fish"> Our Fish </a></li>
    <li *ngIf="!userInjectService.currentUser"><a  routerLink="/join">Be a member </a></li>
  </ul>
</nav>


<form (ngSubmit)="startLoginAjax()">
  <label for="username-input"> Username </label>
  <input  id="username-input" type="text" placeholder="eg. John Jones"
      [(ngModel)]="theUser.username" name="usernameInput" />
  <br />

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" placeholder="e.g. *****"
      [(ngModel)]="theUser.password" name="passwordInput" />
  <br />

  <button> Log In </button>
</form>
