<section id="One" class="wrapper style3">
  <div class="inner">
    <header class="align-center">

      <h2>Welcome,login to go into the site. </h2>
    </header>
  </div>
</section>

<div class = "form_container0">
<div class = "form_containter">
<form (ngSubmit)="startLoginAjax()">
  <label for="username-input"> Username </label>
  <input  id="username-input" type="text" placeholder="eg. John Jones"
      [(ngModel)]="theUser.username" name="usernameInput" />
  <br />

  <label for="password-input"> Password </label>
  <input  id="password-input" type="password" placeholder="e.g. *****"
      [(ngModel)]="theUser.password" name="passwordInput" />
  <br />

  <button> Log In </button>
  <button (click)="logout_f()">Logout</button>
</form>

</div>
</div>
