body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#form {
  margin: 30px auto;
  width: 30%;
}

#form label {
  color: rgb(190, 244, 251);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 3px;
  width: 100%;
  border-color:rgba(2, 207, 244, 0.44)
}

#form button {
  background: #43a3e6;
  border: 3px solid rgba(2, 207, 244, 0.44);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}
.form_containter{
  padding-top:3%;
  margin-top:3%;
  display:flex;
  justify-content: center;
  width:30%;
  background-color:rgba(166, 188, 238, 0.1);
  border-radius:10px;

}
#form button:hover {
  background: #fff;
  color: rgb(8, 6, 105);
  transition: .3s ease background;
}

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
button{
  margin-left:12%;
  border-style:solid;
  border-color:rgba(14, 156, 181, 0.05);
  border-width:5px;
  text-shadow: grey;
}
.form_container0{
  display:flex;
  justify-content: center;

}
